version: '3.8'

services:
  immich_power_tools:
    container_name: immich_power_tools
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
